# =====================================================
# OS / IDE,...
# =====================================================
.DS_Store

# =====================================================
# BACKEND
# =====================================================
backend/.env.local
backend/logs/
backend/temp/
backend/var/
backend/vendor/

# =====================================================
# FRONTEND
# =====================================================
frontend/.env.local